html, body, p {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
ul{
    list-style: disc;
}
.accordion-wrap{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.accordion-items{
    padding: 40px 32px;
    box-shadow: 0 6px 16px 0 rgba(74, 58, 255, 0.19);
    border-radius: 16px;
    border-width: 2px;
    padding-right: 100px;
}
.accordion-items button .icon{
    position: absolute;
    right: 32px;
    top: 32px;
    box-shadow: 0px 5px 16px 0px rgba(8, 15, 52, 0.06);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: rgba(74, 58, 255, 1);
    transform: rotate(270deg);
}
.accordion-items button .text{
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    color: rgba(23, 15, 73, 1);
}
.accordion-items .accordion-content{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(111, 108, 144, 1);
    display: none;
    transition: opacity 1s ease-out;
    opacity: 0;
    -moz-transition: height 3s ease;
    -webkit-transition: height 3s ease;
    -o-transition: height 3s ease;
    transition: height 3s ease;
    height: 0;
    overflow: hidden;
}
/* active accordion*/
.accordion-items.active{
    border-color: rgba(74, 58, 255, 1);
}
.accordion-items.active .icon{
    transform: rotate(0deg);
    background-color: rgba(74, 58, 255, 1);
    color: #fff;
    top: 40px;
}
.accordion-items.active .accordion-content{
    display: block;
    opacity: 1;
    height: auto;
}
.list-disc{
    list-style: disc !important;
    padding-left: 20px;
}